<br>
<div class="container">
    <form #signup="ngForm" name="a">
        <div class = "row">
            <div class = "col-md-6 col-sm-12col xs-12">
                <input class= "form-control" type="text" placeholder="First Name" name="fname" 
                      [(ngModel)] = "fname">
            </div>
            <div class = "col-md-6 col-sm-12col xs-12">
                <input class= "form-control" type="text" placeholder="Last Name" name="lname"
                      [(ngModel)] = "lname">
            </div>
            <div class = "col-md-6 col-sm-12col xs-12">
                <input class= "form-control" type="text" placeholder="User Name" name="username"
                      [(ngModel)] = "username">
            </div>
            <div class = "col-md-6 col-sm-12col xs-12">
                <input class= "form-control" type="text" placeholder="Email" name= "email"
                       [(ngModel)] = "email">
            </div>
            <div class = "col-md-6 col-sm-12col xs-12">
                <input class= "form-control" type="text" placeholder="Password" name="password"
                      [(ngModel)] = "password">
            </div>
            <div class = "col-md-6 col-sm-12col xs-12">
                <input class= "form-control" type="text" placeholder="Contact" name="contact"
                      [(ngModel)] = "contact" >
            </div>
        </div>
        <br>
        <input type="button" class = "btn-primary" (click)="signUp()" value="Submit">
      </form>
</div>
